GROQ_KEY_1=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
GROQ_KEY_2=
GROQ_KEY_3=
GROQ_KEY_4=

GEMINI_KEY_1=AQ.Ab8RN6KE4N2xuwJoFV1upcM3f-ic_cl1PXtGQJEaLa4Ds1OzDg
GEMINI_KEY_2=
GEMINI_KEY_3=
GEMINI_KEY_4=

\